.user {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;

  .btn {
    color: white;
  }

  &#{--info} {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
  }

  &#{_name} {
    margin-bottom: 20px;
  }

  &#{_actions} {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}